# üõ≥Ô∏è Projet Titanic - Kaggle  
## Auteur : Paul Lachaise

Ce notebook contient mon code pour le c√©l√®bre **d√©fi Titanic** sur [Kaggle](https://www.kaggle.com/competitions/titanic), qui fait souvent office de projet d'introduction √† la data science et au machine learning.

---

## üóÇÔ∏è Plan du notebook

### 1.  Pr√©sentation du d√©fi Titanic : objectif, donn√©es d‚Äôentr√©e et de sortie  
### 2.  Exploration et analyse des donn√©es avec Pandas 
### 3.  Mod√©lisation et pr√©diction avec un mod√®le de machine learning

---

## 1. üéØ Pr√©sentation du d√©fi Titanic : objectif, donn√©es d‚Äôentr√©e et de sortie

Le but du d√©fi est de **pr√©dire si un passager a surv√©cu ou non au naufrage du Titanic**, √† partir de ses caract√©ristiques (√¢ge, sexe, classe, etc.).

### Donn√©es d‚Äôentr√©e :
- `train.csv` : donn√©es avec la variable cible `Survived` (0 = non, 1 = oui)
- `test.csv` : m√™mes colonnes mais sans `Survived` (√† pr√©dire)

### Sortie attendue :
Un fichier CSV avec deux colonnes :
- `PassengerId`
- `Survived` : 0 ou 1 pour chaque passager du test

L‚Äô√©valuation des soumissions se fait via la **pr√©cision des pr√©dictions** sur une partie cach√©e du dataset de test.

In [51]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


train_data = pd.read_csv("data/train.csv")

train_data.shape  
train_data.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

In [56]:
data_clean = train_data.drop(['Cabin','Ticket', 'Embarked', 'Fare', 'Name'], axis=1)
data_clean.describe(include='all')

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch
count,891.000000,891.000000,891.000000,891,714.000000,891.000000,891.000000
unique,NaN,NaN,NaN,2,NaN,NaN,NaN
top,NaN,NaN,NaN,male,NaN,NaN,NaN
freq,NaN,NaN,NaN,577,NaN,NaN,NaN
mean,446.000000,0.383838,2.308642,NaN,29.699118,0.523008,0.381594
std,257.353842,0.486592,0.836071,NaN,14.526497,1.102743,0.806057
min,1.000000,0.000000,1.000000,NaN,0.420000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,NaN,20.125000,0.000000,0.000000
50%,446.000000,0.000000,3.000000,NaN,28.000000,0.000000,0.000000
75%,668.500000,1.000000,3.000000,NaN,38.000000,1.000000,0.000000
max,891.000000,1.000000,3.000000,NaN,80.000000,8.000000,6.000000